
.search {
    padding-top: 25px;
}

.insdel {
    padding-top: 25px;
}

.tablepicker {
    text-align: center;
    border-right: 1px solid #DCDCDC;
    padding-right: 15px;
}

.adv-search-settings-button {
  float: right;
  display: inline;
}

.page-header {
  text-align: center;
}

.insertpublishers {
    text-align: right;
}

.login-button {
    text-align: right;
}

.searchresults {
    padding-top: 25px;
}

h2 {
    text-align: center;
}